/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 20px;
}

label {
    margin-top: 5px;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
}