<div *ngIf="task">
  <!-- {{ task.title }} {{ task.description }} -->
  <div *ngIf="!task.complete" class="card">
    <div class="card-body">
      <h4 class="card-title">{{ task.title }}</h4>
  
      <!-- Show the description of the task. -->
      <div *ngIf="task.description" class="panel-body">
        {{ task.description }}
      </div>
  
      <!-- Show SubTasks on the card if Objective contains any. -->
      <div *ngIf="task.totalTasks && task.totalTasks > 0">
        <subtasks 
          [taskCompletion]="task.taskCompletion"
          [taskIds]="task.taskIds">
        </subtasks>
      </div>
  
      <!-- Buttons at the bottom of the card. -->
      <!-- <button (click)="completeObjective(objective)" class="btn btn-primary">Complete</button>
      <button *ngIf="objective.totalTasks && objective.totalTasks > 0" 
        (click)="subtasks.toggleShowSubtasks()" class="btn btn-primary">Show Subtasks</button> -->
    </div>
  </div>
</div>

