<h4>Subtasks</h4>

<label>Sub-Task Progress: {{ taskCompletion }}%</label>
<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width]="taskCompletion + '%'">
    <span class="sr-only">{{ taskCompletion }}% Complete</span>
  </div>
</div>
<!-- <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div> -->